<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<services>
			<configurator type="Sitecore.LayoutService.RegisterDependencies, Sitecore.LayoutService">
				<patch:attribute name="type">JssSnippet.Configurators.RegisterDependencies, JssSnippet</patch:attribute>
			</configurator>
		</services>
	</sitecore>
</configuration>