<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<services>
			<configurator type="JssSnippet.Configurators.RegisterDependencies, JssSnippet">
				<patch:after>Sitecore.LayoutService.RegisterDependencies, Sitecore.LayoutService</patch:after>
			</configurator>
		</services>
	</sitecore>
</configuration>